.Header {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.Header .container {
    width: 100%;
    max-width: 1540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header__logo {
    width: 30px;
    cursor: pointer;
}

.Header__links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Header__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.Header__link .Header__icon {
    display: none;
}

.Header__link:hover,
.Header__link.active,
.Header__link.active p {
    color: #007bff;
}

.Header__content {
    display: flex;
    align-items: center;
    gap: 10px;
}
